body {
  background-color: azure;
  font-size: 3em;
  margin: auto;
  text-align: center;
}

header {
  vertical-align: middle;
  line-height: 75px;
}

div, aside, footer {
  vertical-align: middle;
  line-height: 125px;
}

.ef-holder div, .gh-holder div {
  vertical-align: middle;
  line-height: 250px;
}
