header {
  max-width: 480px;
  height: 75px;
  background-color: blue;
  margin: auto;
}

aside {
  max-width: 480px;
  height: 150px;
  background-color: yellow;
  margin: auto;
}

.cd-holder div:first-child {
  max-width: 480px;
  height: 125px;
  background-color: purple;
  margin: auto;
}

.cd-holder div:last-child {
  max-width: 480px;
  height: 125px;
  background-color: pink;
  margin: auto;
}

.ef-holder, .gh-holder {
  display: flex;
  max-width: 480px;
  margin: auto;
}

.ef-holder div:first-child {
  width: 240px;
  height: 250px;
  background-color: rgb(78, 153, 202);
}

.ef-holder div:last-child {
  width: 240px;
  height: 250px;
  background-color: rgb(38, 175, 111);
}

.gh-holder div:first-child {
  width: 240px;
  height: 250px;
  background-color: rgb(212, 118, 41);
}

.gh-holder div:last-child {
  width: 240px;
  height: 250px;
  background-color: rgb(248, 26, 26);
}

footer {
  max-width: 480px;
  height: 80px;
  background-color: rgb(11, 119, 35);
  margin: auto;
}
